.main-wrapper{
    height: 50%;
    background-color: #f3f3f3;
    padding-top: 10px;
}

.box{
    text-align: center;
    position: relative;
    top: 0;
    opacity: 1;
    margin-top: 20px;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    transform: scale(1);
    max-width: 350px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    margin-right: 34px;
    height: 38%;
   
}
.box:hover{
    background-color: #f0eaea;
}

.card-text{
    font-size: 18px;
}