.main-wrapper{
    height: 100%;
    background-color: rgb(248, 248, 248);
}

.box{
    text-align: center;
    position: relative;
    top: 0;
    opacity: 1;
    margin-top: 20px;
    padding: 30px 50px 40px 50px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    transform: scale(1);
    max-width: 350px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    margin-right: 34px;
   
}
.btn-block{
    width: 100%;
}
.full-width{
    width: 100%;
    margin-bottom: 10px;
}
.success-box{
    width: 30%;
    padding: 50px 10px 10px 30px;
    border-top: 5px solid green;
    text-align: center;
}
.success-text{
    color: grey;
    line-height: 30px;
}
