.main-wrapper{
    height: 99%;
    background-color: #fffbfb;
    padding-top: 5px;
}

.box{
    text-align: center;
    position: relative;
    top: 0;
    opacity: 1;
    margin-top: 5px;
    padding: 30px 40px 40px 40px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    transform: scale(1);
    max-width: 650px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    margin-right: 34px;
    height: 38%;
   
}