<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <!-- <mat-card class="box" (click)="goToHome()">
        <mat-icon matPrefix [inline]="true" style = " font-size: 60px;">person_add</mat-icon> 
        <span class="card-text"> Add Contributor</span>
    </mat-card> -->
    <div class="box">
        <div style="padding-bottom: 70px;">
            <span style="font-size: 90px; font-weight: 300; color: #4750ca;">404</span><br>
        </div>
        <span style="font-size: 40px;font-weight: 200;">Page Not Found</span><br>
        <div style="padding-top: 40px;">
            <span style="font-size: 18px; font-weight: 300;color: gray;">We're sorry. The page you are looking for cannot be found.</span><br>
        </div>
        
        <div style="padding-top: 70px;">
            <button mat-raised-button color="primary" (click)="goToHome()">Return to home</button>
        </div>
    </div>
    
</div>